@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}


    header {
        background-color: gray;
    }
        header > h1 {
            padding: 10px;
            
            text-align: center;
        }


        i#burguer {
            display: block;
            padding: 10px;

            cursor: pointer;

            color: white;

            text-align: center;

            background-color: rgb(40, 40, 40);
        }
            i#burguer:hover {
                color: black;

                background-color: white;
            }

        menu {
            display: none;
        }
            menu > ul {
                list-style-type: none;
            }
                menu > ul > li > a {
                    display: block;
                    padding: 10px;
                    border-top: 2px solid rgb(150, 150, 150);

                    text-decoration: none;
                    text-align: center;
                    
                    color: white;
                    background-color: rgb(88, 88, 88);
                }
                    menu > ul > li > a:hover {
                        background-color: gray;
                    }


    main {
        width: 90vw;

        margin: auto;
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;

        background-color: white;
    }
        main > article > h2 {
            margin-bottom: 20px;
        }
        main > article > p {
            margin-bottom: 10px;

            text-align: justify;
            text-indent: 20px;
            line-height: 1.3em;
        }